#### PILLAR.EXAMPLE -- Example Pillar key-value pairs used by this formula

### Copyright (c) 2015, Matthew X. Economou <xenophon@irtnog.org>
###
### Permission to use, copy, modify, and/or distribute this software
### for any purpose with or without fee is hereby granted, provided
### that the above copyright notice and this permission notice appear
### in all copies.
###
### THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL
### WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED
### WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE
### AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR
### CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
### LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT,
### NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
### CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

### This file describes a few of the possible options this formula can
### use to customize its behavior.  The key words "MUST", "MUST NOT",
### "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT",
### "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be
### interpreted as described in RFC 2119,
### https://tools.ietf.org/html/rfc2119.  The key words "MUST (BUT WE
### KNOW YOU WON'T)", "SHOULD CONSIDER", "REALLY SHOULD NOT", "OUGHT
### TO", "WOULD PROBABLY", "MAY WISH TO", "COULD", "POSSIBLE", and
### "MIGHT" in this document are to be interpreted as described in RFC
### 6919, https://tools.ietf.org/html/rfc6919.  The keywords "DANGER",
### "WARNING", and "CAUTION" in this document are to be interpreted as
### described in OSHA 1910.145,
### https://www.osha.gov/pls/oshaweb/owadisp.show_document?p_table=standards&p_id=9794.

shibboleth:
  idp:
    hostname: login.example.com
    entity_id: https://login.example.com/idp/shibboleth
    scope: example.com
    cookie_secure: yes
    keystore_password: 'longalphanumericpassword'
    sealer_password: 'adifferentlongalphanumericpassword'

    ## Deploy Shibboleth IdP using the same service account as the
    ## desired Java servlet container (here, Apache Tomcat on CentOS
    ## 7).
    user: tomcat
    group: tomcat

    ## Include the Tomcat package when installing Shibboleth IdP, as
    ## this creates the above service account/group; otherwise, the
    ## shibboleth.idp (from this formula) and tomcat (from
    ## tomcat-formula) states can't be applied idempotently (again, as
    ## above, Apache Tomcat on CentOS 7).
    packages:
      - java-1.8.0-openjdk-devel
      - bash
      - tomcat

    ## IdP keying material
    backchannel_certificate: |
      -----BEGIN CERTIFICATE-----
      XoeaUnFuAXE73GlKja4LiBkXMyEe1QOMwqvQOP+dbUc7C4GVy11PFsR3srRC578l
      aXoemLSeo682V7rmZsC3FXwxDH5H9JhP42AdaMrQLKYviSzHiyHsyiacTgxxqjc1
      sQVQtbxq7vK5opjm66EUqqSnR4ZQOW6NG0uAonoAETaak1yM6ybF7kKvi4nIR0Xg
      zojBbXLAoOFfo6VZluJ2fq207DIzsK6+D9HY2VKst3xJ+k04j2H0dWAVBhm9og13
      L3vK8HRxaN+19ATrLoo1EUBEcLSOgi2O8dsaIETC+xGCbeVb2Kixd157VWodt9vR
      KBJTigpD0fDKiK4JZ4g6m2FlQDsV70TfBbsmV9AmGkTT6D+Oz0joIOBt9gcmP0oY
      88vCt7FBjBVnb/SfCHLV1WaWHiYyC6USXqeoOBhsMedmkexYABuotBFlQoOm/AFd
      FhrPh6jjlW1r0jzHmvXOoQlXRAbhK58VroTxTcqgRhMohxbyAWAjRmW648RkNWC+
      GRSS3JxgfO1QOFpp9sKApZZ0ti0fU//32dvCO1okD3rnP0qpNqgOFXCkMFzVubCv
      CEGVAIGa/5weMMeidWFcLC0HYREm3DM62vtI7fcQQwj0iXZi7/WQyUNPG+K57yPM
      k+VJRHuE/dxSubA7QyDFKS9udb9Qf2FK1puuqtr4QfY=
      -----END CERTIFICATE-----
    backchannel_key: |
      -----BEGIN PRIVATE KEY-----
      ZNF17QTx4kfPEfRqI7AA4y3jJ7zXOzT1WBh7XJ8o5Tm/W+zVR5ngC7h5hLZaL4gl
      7nmtDqKWXvY695BByTaW9QB2gM+9y8z5tFNowPkQYsSRpWctjLyOiq6IeuBblJo9
      kJ03hhgdV3zJ1dhnq3p6LDiOw4HqcPkx2LzIPWKQgDGeIzzWPJnDVgD3DfcnuTVs
      zguDOFDpFdiFytQwWWoqHmn1wbrj1p0SHZoVfnDp5HSQ6WZ7kLLTySrYJ920ku8A
      DUlwy287Lwh/qO2hX80lXnqZYqPHXryPqxJK4PtERCCwCJdGRvrFi3CpAn99DhPz
      d4tFBjQu19Z0/rUELPEQuCfbCtscpJZ2q/lir5xjj44yJtiky8Go73uK8E/WslEZ
      kESPaq6LE/4MvlE5pquHkBgZA0u9VigNp+4D0RVbcWhmM5b+ZR2HRszsH+dfjA9f
      8ums30Dxf6TGrhdQLW39Be6fIz0pisVC+hARW/6RmLvQRCmgZTkSZcjQNBICkbLe
      v44pQ1XpbXGP8WpnGKKSyYTyXEV6GwFOzF5uWicUgpzpCJMk1RjXAyiybcg0o5fS
      2xsofsGmuWHyhKEarwEheFEyz1RtQ2h0uWEG3+l1Hi+rQAO1uxnEv1H3cfEu2bc6
      BkvGmo8EcpTkRvBU1aRVHhzGXp3kzR+SPV261qYYDBI=
      -----END PRIVATE KEY-----
    encryption_certificate: |
      -----BEGIN CERTIFICATE-----
      XoeaUnFuAXE73GlKja4LiBkXMyEe1QOMwqvQOP+dbUc7C4GVy11PFsR3srRC578l
      aXoemLSeo682V7rmZsC3FXwxDH5H9JhP42AdaMrQLKYviSzHiyHsyiacTgxxqjc1
      sQVQtbxq7vK5opjm66EUqqSnR4ZQOW6NG0uAonoAETaak1yM6ybF7kKvi4nIR0Xg
      zojBbXLAoOFfo6VZluJ2fq207DIzsK6+D9HY2VKst3xJ+k04j2H0dWAVBhm9og13
      L3vK8HRxaN+19ATrLoo1EUBEcLSOgi2O8dsaIETC+xGCbeVb2Kixd157VWodt9vR
      KBJTigpD0fDKiK4JZ4g6m2FlQDsV70TfBbsmV9AmGkTT6D+Oz0joIOBt9gcmP0oY
      88vCt7FBjBVnb/SfCHLV1WaWHiYyC6USXqeoOBhsMedmkexYABuotBFlQoOm/AFd
      FhrPh6jjlW1r0jzHmvXOoQlXRAbhK58VroTxTcqgRhMohxbyAWAjRmW648RkNWC+
      GRSS3JxgfO1QOFpp9sKApZZ0ti0fU//32dvCO1okD3rnP0qpNqgOFXCkMFzVubCv
      CEGVAIGa/5weMMeidWFcLC0HYREm3DM62vtI7fcQQwj0iXZi7/WQyUNPG+K57yPM
      k+VJRHuE/dxSubA7QyDFKS9udb9Qf2FK1puuqtr4QfY=
      -----END CERTIFICATE-----
    encryption_key: |
      -----BEGIN PRIVATE KEY-----
      ZNF17QTx4kfPEfRqI7AA4y3jJ7zXOzT1WBh7XJ8o5Tm/W+zVR5ngC7h5hLZaL4gl
      7nmtDqKWXvY695BByTaW9QB2gM+9y8z5tFNowPkQYsSRpWctjLyOiq6IeuBblJo9
      kJ03hhgdV3zJ1dhnq3p6LDiOw4HqcPkx2LzIPWKQgDGeIzzWPJnDVgD3DfcnuTVs
      zguDOFDpFdiFytQwWWoqHmn1wbrj1p0SHZoVfnDp5HSQ6WZ7kLLTySrYJ920ku8A
      DUlwy287Lwh/qO2hX80lXnqZYqPHXryPqxJK4PtERCCwCJdGRvrFi3CpAn99DhPz
      d4tFBjQu19Z0/rUELPEQuCfbCtscpJZ2q/lir5xjj44yJtiky8Go73uK8E/WslEZ
      kESPaq6LE/4MvlE5pquHkBgZA0u9VigNp+4D0RVbcWhmM5b+ZR2HRszsH+dfjA9f
      8ums30Dxf6TGrhdQLW39Be6fIz0pisVC+hARW/6RmLvQRCmgZTkSZcjQNBICkbLe
      v44pQ1XpbXGP8WpnGKKSyYTyXEV6GwFOzF5uWicUgpzpCJMk1RjXAyiybcg0o5fS
      2xsofsGmuWHyhKEarwEheFEyz1RtQ2h0uWEG3+l1Hi+rQAO1uxnEv1H3cfEu2bc6
      BkvGmo8EcpTkRvBU1aRVHhzGXp3kzR+SPV261qYYDBI=
      -----END PRIVATE KEY-----
    signing_certificate: |
      -----BEGIN CERTIFICATE-----
      XoeaUnFuAXE73GlKja4LiBkXMyEe1QOMwqvQOP+dbUc7C4GVy11PFsR3srRC578l
      aXoemLSeo682V7rmZsC3FXwxDH5H9JhP42AdaMrQLKYviSzHiyHsyiacTgxxqjc1
      sQVQtbxq7vK5opjm66EUqqSnR4ZQOW6NG0uAonoAETaak1yM6ybF7kKvi4nIR0Xg
      zojBbXLAoOFfo6VZluJ2fq207DIzsK6+D9HY2VKst3xJ+k04j2H0dWAVBhm9og13
      L3vK8HRxaN+19ATrLoo1EUBEcLSOgi2O8dsaIETC+xGCbeVb2Kixd157VWodt9vR
      KBJTigpD0fDKiK4JZ4g6m2FlQDsV70TfBbsmV9AmGkTT6D+Oz0joIOBt9gcmP0oY
      88vCt7FBjBVnb/SfCHLV1WaWHiYyC6USXqeoOBhsMedmkexYABuotBFlQoOm/AFd
      FhrPh6jjlW1r0jzHmvXOoQlXRAbhK58VroTxTcqgRhMohxbyAWAjRmW648RkNWC+
      GRSS3JxgfO1QOFpp9sKApZZ0ti0fU//32dvCO1okD3rnP0qpNqgOFXCkMFzVubCv
      CEGVAIGa/5weMMeidWFcLC0HYREm3DM62vtI7fcQQwj0iXZi7/WQyUNPG+K57yPM
      k+VJRHuE/dxSubA7QyDFKS9udb9Qf2FK1puuqtr4QfY=
      -----END CERTIFICATE-----
    signing_key: |
      -----BEGIN PRIVATE KEY-----
      ZNF17QTx4kfPEfRqI7AA4y3jJ7zXOzT1WBh7XJ8o5Tm/W+zVR5ngC7h5hLZaL4gl
      7nmtDqKWXvY695BByTaW9QB2gM+9y8z5tFNowPkQYsSRpWctjLyOiq6IeuBblJo9
      kJ03hhgdV3zJ1dhnq3p6LDiOw4HqcPkx2LzIPWKQgDGeIzzWPJnDVgD3DfcnuTVs
      zguDOFDpFdiFytQwWWoqHmn1wbrj1p0SHZoVfnDp5HSQ6WZ7kLLTySrYJ920ku8A
      DUlwy287Lwh/qO2hX80lXnqZYqPHXryPqxJK4PtERCCwCJdGRvrFi3CpAn99DhPz
      d4tFBjQu19Z0/rUELPEQuCfbCtscpJZ2q/lir5xjj44yJtiky8Go73uK8E/WslEZ
      kESPaq6LE/4MvlE5pquHkBgZA0u9VigNp+4D0RVbcWhmM5b+ZR2HRszsH+dfjA9f
      8ums30Dxf6TGrhdQLW39Be6fIz0pisVC+hARW/6RmLvQRCmgZTkSZcjQNBICkbLe
      v44pQ1XpbXGP8WpnGKKSyYTyXEV6GwFOzF5uWicUgpzpCJMk1RjXAyiybcg0o5fS
      2xsofsGmuWHyhKEarwEheFEyz1RtQ2h0uWEG3+l1Hi+rQAO1uxnEv1H3cfEu2bc6
      BkvGmo8EcpTkRvBU1aRVHhzGXp3kzR+SPV261qYYDBI=
      -----END PRIVATE KEY-----

  sp:
    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPShibbolethXML
    logger:
      shibboleth/syslog.logger
    clock_skew:
      180
    unsafe_chars:
      '#%&():[]\`{}'
    allowed_schemes:
      - http
      - https
    lang_from_client:
      True
    lang_priority:
      - el
      - en
      - de
      - fr
      - ja
      - ru
      - zh

    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPLibrary
    extensions:
      - path: /opt/example/lib/libencabulator.so
        fatal: True
        nsmap:
          encab: "urn:example:encabulator"
        attributes:
          encab:mode: "Turbo"
          encab:prefabulatedAmulite: True
          encab:gears:
            - Reverse
            - Park
            - Neutral
            - Drive
            - Third
            - Second
            - First
        elements:               # list of XML literals (mind the escapes!)
          - <encab:casing encab:scale=\"logrithmic\" encab:type=\"Malleable\"/>
          - <encab:stator>
              <encab:slots>Panendermic Semi-boloid</encab:slots>
            </encab:stator>

    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPOutOfProcess
    outofprocess_logger:
      shibboleth/syslog.logger
    outofprocess_catchall:
      False
    outofprocess_tranlog_format:
      '%D:%E:%e:%app:%SP:%IDP:%p:%n'
    outofprocess_tranlog_filler:
      fnord
    outofprocess_extensions:
      - path: adfs.so           # entries follow the same layout as
        fatal: True             # the extensions list shown above
      - path: odbc-store.so
        fatal: True

    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPInProcess
    inprocess_logger:
      native.logger
    inprocess_catchall:
      False
    inprocess_unset_header_value:
      'UNKNOWN'
    inprocess_check_spoofing:
      True
    inprocess_spoofkey:
      secret
    inprocess_extensions:
      - path: adfs-lite.so
        fatal: True
    inprocess_isapi_normalize_request:
      True
    inprocess_isapi_safe_header_names:
      False
    inprocess_isapi_sites:
      - id: 1
        name: www.example.org
        aliases:
          - web.example.org
      - id: 1534573457
        name: virtual.example.org
        scheme: https
        port: 443

    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPUnixListener
    unixlistener_address:
      shibd.sock
    unixlistener_stacksize:
      1024

    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPTCPListener
    tcplistener_address:
      192.0.2.100
    tcplistener_port:
      1600
    tcplistener_acl:
      - 127.0.0.1/32
      - ::1/128
    tcplistener_stacksize:
      1024

    ## TODO: https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPListener
    # listener_type:
    #   Plugh
    # listner_configuration:
    #   Xyzzy

    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPStorageService
    storage_services:
      - type: Memory
        id: mem
        cleanup_interval: 900
      - type: ODBC
        id: db
        cleanup_interval: 900
        isolation_level:
          SERIALIZABLE
        connection_string:
          DRIVER=drivername;SERVER=dbserver;UID=shibboleth;PWD=password;DATABASE=shibboleth;APP=Shibboleth
        retry_on_error: 3
      - type: MEMCACHE
        id: mc
        prefix:
          'SERVICE_PREFIX:'
        hosts:
          - 192.0.2.101:11211
          - 192.0.2.102:11211
      - type: MEMCACHE
        id: mc-ctx
        prefix:
          'SERVICE_PREFIX:'
        build_map: False
        send_timeout: 999999
        recv_timeout: 999999
        poll_timeout: 1000
        fail_limit: 5
        retry_timeout: 30
        nonblocking: True
        hosts:
          - 192.0.2.101:11211
          - 192.0.2.102:11211

    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPSessionCache
    session_cache_type:
      StorageService
    session_cache_allowance:
      0
    session_cache_timeout:
      28000
    session_cache_maintain_reverse_index:
      True
    session_cache_exclude_reverse_index:
      - givenName
      - surname
    session_cache_storage_service:
      mc-ctx
    session_cache_storage_service_lite:
      mc
    session_cache_cleanup_interval:
      900
    session_cache_inprocess_timeout:
      900
    session_cache_cache_assertions:
      True
    session_cache_inbound_header:
      X-Apache-Session
    session_cache_outbound_header:
      X-Shibboleth-Session

    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPReplayCache
    replay_cache_storage_service:
      mc

    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPArtifactMap
    artifact_map_ttl:
      180
    artifact_map_storage_service:
      mc
    artifact_map_context:
      foo

    ## https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPRequestMapper
    request_mapper_type:
      Native
    request_mapper_auth_type:
      shibboleth
    request_mapper_app_id:
      someApplicationID
    request_mapper_require_session:
      False
    request_mapper_session_with:
      someSessionInitiatorID
    request_mapper_export_assertion:
      False
    request_mapper_redirect_to_ssl:
      443
    request_mapper_entity_id:
      urn:mace:example:example.com
    request_mapper_is_passive:
      False
    request_mapper_force_authn:
      False
    request_mapper_authn_context_class_ref:
      - urn:oasis:names:tc:SAML:2.0:ac:classes:password # username and password
      - urn:oasis:names:tc:SAML:2.0:ac:classes:x509     # X.509 certificate
    request_mapper_authn_context_comparison:
      exact
    request_mapper_redirect_errors:
      https://www.example.com/redirect_error.html
    request_mapper_session_error:
      /opt/shibboleth-sp/templates/session_error.vm
    request_mapper_metadata_error:
      /opt/shibboleth-sp/templates/metadata_error.vm
    request_mapper_access_error:
      /opt/shibboleth-sp/templates/access_error.vm
    request_mapper_ssl_error:
      /opt/shibboleth-sp/templates/ssl_error.vm
    request_mapper_remote_addr:
      X-Forwarded-For
    request_mapper_target:
      https://www.example.com/
    request_mapper_encoding:
      UTF8                      # or 'URL'
    request_mapper_nameid_format:
      urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified
    request_mapper_spname_qualifier:
      http://sso.example.com/adfs/services/trust
    request_mapper_export_stdvars:
      True
    request_mapper_export_cookie:
      False
    request_mapper_discovery_url:
      https://ds.example.com/wayf
    request_mapper_discovery_policy:
      FIXME
    request_mapper_require_logout_with:
      https://www.example.com/goodbye.html
    exportDuplicateValues:
      True

#### Local variables:
#### mode: yaml
#### End:

#### PILLAR.EXAMPLE ends here.
