#### PILLAR.EXAMPLE -- Example Pillar key-value pairs used by this formula

### Copyright (c) 2015, Matthew X. Economou <xenophon@irtnog.org>
###
### Permission to use, copy, modify, and/or distribute this software
### for any purpose with or without fee is hereby granted, provided
### that the above copyright notice and this permission notice appear
### in all copies.
###
### THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL
### WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED
### WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE
### AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR
### CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
### LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT,
### NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN
### CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

### This file describes a few of the possible options this formula can
### use to customize its behavior.  The key words "MUST", "MUST NOT",
### "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT",
### "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be
### interpreted as described in RFC 2119,
### https://tools.ietf.org/html/rfc2119.  The key words "MUST (BUT WE
### KNOW YOU WON'T)", "SHOULD CONSIDER", "REALLY SHOULD NOT", "OUGHT
### TO", "WOULD PROBABLY", "MAY WISH TO", "COULD", "POSSIBLE", and
### "MIGHT" in this document are to be interpreted as described in RFC
### 6919, https://tools.ietf.org/html/rfc6919.  The keywords "DANGER",
### "WARNING", and "CAUTION" in this document are to be interpreted as
### described in OSHA 1910.145,
### https://www.osha.gov/pls/oshaweb/owadisp.show_document?p_table=standards&p_id=9794.

####
#### SHIBBOLETH IDENTITY PROVIDER CONFIGURATION EXAMPLE
####

shibboleth:
  idp:
    hostname: login.example.com
    entity_id: https://login.example.com/idp/shibboleth
    scope: example.com
    cookie_secure: yes
    keystore_password: 'longalphanumericpassword'
    sealer_password: 'adifferentlongalphanumericpassword'

    ## Deploy Shibboleth IdP using the same service account as the
    ## desired Java servlet container (here, Apache Tomcat on CentOS
    ## 7).
    user: tomcat
    group: tomcat

    ## Include the Tomcat package when installing Shibboleth IdP, as
    ## this creates the above service account/group; otherwise, the
    ## shibboleth.idp (from this formula) and tomcat (from
    ## tomcat-formula) states can't be applied idempotently (again, as
    ## above, Apache Tomcat on CentOS 7).
    packages:
      - java-1.8.0-openjdk-devel
      - bash
      - tomcat

    ## Trust the following sources of federation metadata.
    metadata_providers:
      ## TestShib
      - http://www.testshib.org/metadata/testshib-providers.xml
      ## Amazon Web Services
      - https://signin.aws.amazon.com/static/saml-metadata.xml
      - https://signin.amazonaws-us-gov.com/static/saml-metadata.xml
      ## InCommon Federation
      ## https://spaces.internet2.edu/display/InCFederation/Shibboleth+Metadata+Config
      ## https://spaces.internet2.edu/display/InCFederation/Metadata+Aggregates
      - url: http://md.incommon.org/InCommon/InCommon-metadata.xml
        min_refresh_delay: PT5M    # TODO
        max_refresh_delay: PT1H    # TODO
        refresh_delay_factor: 0.75 # TODO
        filters:
          - type: SignatureValidation
            require_signed_root: True
            ## https://spaces.internet2.edu/display/InCFederation/Metadata+Signing+Certificate
            ##
            ## WARNING: THIS IS THE PUBLIC KEY OF THAT CERTIFICATE,
            ## NOT THE CERTIFICATE ITSELF!  Export the public key
            ## using something like the following command:
            ##
            ## curl --silent https://ds.incommon.org/certs/inc-md-cert.pem | openssl x509 -pubkey -noout
            public_key: |
              -----BEGIN PUBLIC KEY-----
              MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0Chdkrn+dG5Zj5L3UIw+
              xeWgNzm8ajw7/FyqRQ1SjD4Lfg2WCdlfjOrYGNnVZMCTfItoXTSpg4rXxHQsykeN
              iYRu2+02uMS+1pnBqWjzdPJE0od+q8EbdvE6ShimjyNn0yQfGyQKCNdYuc+75MIH
              saIOAEtDZUST9Sd4oeU1zRjV2sGvUd+JFHveUAhRc0b+JEZfIEuq/LIU9qxm/+gF
              aawlmojZPyOWZ1JlswbrrJYYyn10qgnJvjh9gZWXKjmPxqvHKJcATPhAh2gWGabW
              TXBJCckMe1hrHCl/vbDLCmz0/oYuoaSDzP6zE9YSA/xCplaHA0moC1Vs2H5MOQGl
              ewIDAQAB
              -----END PUBLIC KEY-----
          - type: RequiredValidUntil
            max_validity_period: P14D
          - type: EntityRoleWhiteList
            retained_roles:
              - md:SPSSODescriptor

    ## Define attributes generated for authenticated users.
    resolver_attribute_definitions:
      - id: eduPersonPrincipalName
        type: ad:Scoped
        scope: '%{idp.scope}'
        source_attribute_id: uid
        dependency: uid
        attribute_encoders:
          - type: enc:SAML1ScopedString
            name: urn:mace:dir:attribute-def:eduPersonPrincipalName
            encode_type: False
          - type: enc:SAML2ScopedString
            name: urn:oid:1.3.6.1.4.1.5923.1.1.1.6
            friendly_name: eduPersonPrincipalName
            encode_type: False
      - id: uid
        type: ad:PrincipalName
        attribute_encoders:
          - type: enc:SAML1String
            name: urn:mace:dir:attribute-def:uid
            encode_type: False
          - type: enc:SAML2String
            name: urn:oid:0.9.2342.19200300.100.1.1
            friendly_name: uid
            encode_type: False
      - id: mail
        type: ad:Template
        dependency: uid
        attribute_encoders:
          - type: enc:SAML1String
            name: urn:mace:dir:attribute-def:mail
            encode_type: False
          - type: enc:SAML2String
            name: urn:oid:0.9.2342.19200300.100.1.3
            friendly_name: mail
            encode_type: False
        template:
          ${uid}@example.org
        source_attribute: uid   # NB: different than source_attribute_id!
      - id: eduPersonScopedAffiliation
        type: ad:Scoped
        scope: '%{idp.scope}'
        source_attribute_id: affiliation
        dependency: staticAttributes # NB: data connector reference
        attribute_encoders:
          - type: enc:SAML1ScopedString
            name: urn:mace:dir:attribute-def:eduPersonScopedAffiliation
            encode_type: False
          - type: enc:SAML2ScopedString
            name: urn:oid:1.3.6.1.4.1.5923.1.1.1.9
            friendly_name: eduPersonScopedAffiliation
            encode_type: False
    resolver_data_connectors:
      - id: staticAttributes
        type: dc:Static
        attributes:
          - id: affiliation
            value: member

    ## Control which attributes get released to which service
    ## providers.
    attribute_filter_policies:
      ## Release eppn, epsa, and mail to all SPs.
      - if:
          ANY
        then:
          - release:
              eduPersonPrincipalName
            permit:
              ANY
          - release:
              eduPersonScopedAffiliation
            permit:
              ANY
          - release:
              mail
            permit:
              ANY
      - if:
          OR:
            - Requester: https://sp.example.org
            - Requester: https://another.example.org/shibboleth
        then:
          - release:
              uid
            permit:
              ANY

    ## IdP keying material
    ## TODO: handle IdP keymat rollover
    backchannel_certificate: |
      -----BEGIN CERTIFICATE-----
      XoeaUnFuAXE73GlKja4LiBkXMyEe1QOMwqvQOP+dbUc7C4GVy11PFsR3srRC578l
      aXoemLSeo682V7rmZsC3FXwxDH5H9JhP42AdaMrQLKYviSzHiyHsyiacTgxxqjc1
      sQVQtbxq7vK5opjm66EUqqSnR4ZQOW6NG0uAonoAETaak1yM6ybF7kKvi4nIR0Xg
      zojBbXLAoOFfo6VZluJ2fq207DIzsK6+D9HY2VKst3xJ+k04j2H0dWAVBhm9og13
      L3vK8HRxaN+19ATrLoo1EUBEcLSOgi2O8dsaIETC+xGCbeVb2Kixd157VWodt9vR
      KBJTigpD0fDKiK4JZ4g6m2FlQDsV70TfBbsmV9AmGkTT6D+Oz0joIOBt9gcmP0oY
      88vCt7FBjBVnb/SfCHLV1WaWHiYyC6USXqeoOBhsMedmkexYABuotBFlQoOm/AFd
      FhrPh6jjlW1r0jzHmvXOoQlXRAbhK58VroTxTcqgRhMohxbyAWAjRmW648RkNWC+
      GRSS3JxgfO1QOFpp9sKApZZ0ti0fU//32dvCO1okD3rnP0qpNqgOFXCkMFzVubCv
      CEGVAIGa/5weMMeidWFcLC0HYREm3DM62vtI7fcQQwj0iXZi7/WQyUNPG+K57yPM
      k+VJRHuE/dxSubA7QyDFKS9udb9Qf2FK1puuqtr4QfY=
      -----END CERTIFICATE-----
    backchannel_key: |
      -----BEGIN PRIVATE KEY-----
      ZNF17QTx4kfPEfRqI7AA4y3jJ7zXOzT1WBh7XJ8o5Tm/W+zVR5ngC7h5hLZaL4gl
      7nmtDqKWXvY695BByTaW9QB2gM+9y8z5tFNowPkQYsSRpWctjLyOiq6IeuBblJo9
      kJ03hhgdV3zJ1dhnq3p6LDiOw4HqcPkx2LzIPWKQgDGeIzzWPJnDVgD3DfcnuTVs
      zguDOFDpFdiFytQwWWoqHmn1wbrj1p0SHZoVfnDp5HSQ6WZ7kLLTySrYJ920ku8A
      DUlwy287Lwh/qO2hX80lXnqZYqPHXryPqxJK4PtERCCwCJdGRvrFi3CpAn99DhPz
      d4tFBjQu19Z0/rUELPEQuCfbCtscpJZ2q/lir5xjj44yJtiky8Go73uK8E/WslEZ
      kESPaq6LE/4MvlE5pquHkBgZA0u9VigNp+4D0RVbcWhmM5b+ZR2HRszsH+dfjA9f
      8ums30Dxf6TGrhdQLW39Be6fIz0pisVC+hARW/6RmLvQRCmgZTkSZcjQNBICkbLe
      v44pQ1XpbXGP8WpnGKKSyYTyXEV6GwFOzF5uWicUgpzpCJMk1RjXAyiybcg0o5fS
      2xsofsGmuWHyhKEarwEheFEyz1RtQ2h0uWEG3+l1Hi+rQAO1uxnEv1H3cfEu2bc6
      BkvGmo8EcpTkRvBU1aRVHhzGXp3kzR+SPV261qYYDBI=
      -----END PRIVATE KEY-----
    encryption_certificate: &idpcert |
      -----BEGIN CERTIFICATE-----
      XoeaUnFuAXE73GlKja4LiBkXMyEe1QOMwqvQOP+dbUc7C4GVy11PFsR3srRC578l
      aXoemLSeo682V7rmZsC3FXwxDH5H9JhP42AdaMrQLKYviSzHiyHsyiacTgxxqjc1
      sQVQtbxq7vK5opjm66EUqqSnR4ZQOW6NG0uAonoAETaak1yM6ybF7kKvi4nIR0Xg
      zojBbXLAoOFfo6VZluJ2fq207DIzsK6+D9HY2VKst3xJ+k04j2H0dWAVBhm9og13
      L3vK8HRxaN+19ATrLoo1EUBEcLSOgi2O8dsaIETC+xGCbeVb2Kixd157VWodt9vR
      KBJTigpD0fDKiK4JZ4g6m2FlQDsV70TfBbsmV9AmGkTT6D+Oz0joIOBt9gcmP0oY
      88vCt7FBjBVnb/SfCHLV1WaWHiYyC6USXqeoOBhsMedmkexYABuotBFlQoOm/AFd
      FhrPh6jjlW1r0jzHmvXOoQlXRAbhK58VroTxTcqgRhMohxbyAWAjRmW648RkNWC+
      GRSS3JxgfO1QOFpp9sKApZZ0ti0fU//32dvCO1okD3rnP0qpNqgOFXCkMFzVubCv
      CEGVAIGa/5weMMeidWFcLC0HYREm3DM62vtI7fcQQwj0iXZi7/WQyUNPG+K57yPM
      k+VJRHuE/dxSubA7QyDFKS9udb9Qf2FK1puuqtr4QfY=
      -----END CERTIFICATE-----
    encryption_key: &idpkey |
      -----BEGIN PRIVATE KEY-----
      ZNF17QTx4kfPEfRqI7AA4y3jJ7zXOzT1WBh7XJ8o5Tm/W+zVR5ngC7h5hLZaL4gl
      7nmtDqKWXvY695BByTaW9QB2gM+9y8z5tFNowPkQYsSRpWctjLyOiq6IeuBblJo9
      kJ03hhgdV3zJ1dhnq3p6LDiOw4HqcPkx2LzIPWKQgDGeIzzWPJnDVgD3DfcnuTVs
      zguDOFDpFdiFytQwWWoqHmn1wbrj1p0SHZoVfnDp5HSQ6WZ7kLLTySrYJ920ku8A
      DUlwy287Lwh/qO2hX80lXnqZYqPHXryPqxJK4PtERCCwCJdGRvrFi3CpAn99DhPz
      d4tFBjQu19Z0/rUELPEQuCfbCtscpJZ2q/lir5xjj44yJtiky8Go73uK8E/WslEZ
      kESPaq6LE/4MvlE5pquHkBgZA0u9VigNp+4D0RVbcWhmM5b+ZR2HRszsH+dfjA9f
      8ums30Dxf6TGrhdQLW39Be6fIz0pisVC+hARW/6RmLvQRCmgZTkSZcjQNBICkbLe
      v44pQ1XpbXGP8WpnGKKSyYTyXEV6GwFOzF5uWicUgpzpCJMk1RjXAyiybcg0o5fS
      2xsofsGmuWHyhKEarwEheFEyz1RtQ2h0uWEG3+l1Hi+rQAO1uxnEv1H3cfEu2bc6
      BkvGmo8EcpTkRvBU1aRVHhzGXp3kzR+SPV261qYYDBI=
      -----END PRIVATE KEY-----
    signing_certificate: *idpcert
    signing_key: *idpkey

####
#### SHIBBOLETH SERVICE PROVIDER CONFIGURATION EXAMPLE
####

shibboleth:
  sp:
    entity_id: https://www.example.com/shibboleth
    support_contact: 'webmaster@example.com'
    remote_user:
      - eppn
      - upn
      - persistent-id
      - targeted-id
    session_check_address: True
    session_handler_ssl: True
    session_cookie_properties: https
    session_idp_history: True
    session_sso:
      - SAML2
    sso_default_idp: https://login.example.com/idp/shibboleth
    # sso_discovery_url: https://www.example.com/shibboleth-eds/
    async_logout: False         # workaround for AD FS
    session_handlers:
      - type: MetadataGenerator
        location: /Metadata.xml # need file type for AD FS interop
        signing: False          # TODO: configure signing
      - type: Status
        location: /Status
        acl:
          - 192.0.2.0/24        # example management network
          - 127.0.0.1           # IPv4 loopback (default)
          - ::1                 # IPv6 loopback (default)
      - type: Session
        location: /Session
        show_attribute_values: True
      - type: DiscoveryFeed
        location: /DiscoFeed

    metadata_providers:
      ## TestShib
      - http://www.testshib.org/metadata/testshib-providers.xml
      ## InCommon Federation
      ## https://spaces.internet2.edu/display/InCFederation/Shibboleth+Metadata+Config
      ## https://spaces.internet2.edu/display/InCFederation/Metadata+Aggregates
      - type: XML
        url: http://md.incommon.org/InCommon/InCommon-metadata.xml
        max_refresh_delay: 3600
        legacy_org_names: True
        metadata_filters:
          ## To bootstrap the trust fabric of the federation, each
          ## relying party obtains and configures an authentic copy of
          ## the federation operator’s Metadata Signing Certificate
          ## (https://spaces.internet2.edu/x/moHFAg).
          ##
          ## Fetch the InCommon Metadata Signing Certificate and check
          ## its integrity:
          ##
          ## $ /usr/bin/curl -s https://ds.incommon.org/certs/inc-md-cert.pem \
          ##   | /usr/bin/tee inc-md-cert.pem \
          ##   | /usr/bin/openssl x509 -sha1 -fingerprint -noout
          ## SHA1 Fingerprint=7D:B4:BB:28:D3:D5:C8:52:E0:80:B3:62:43:2A:AF:34:B2:A6:0E:DD
          ##
          ## Verify the signature on the root element of the metadata
          ## aggregate (i.e., the EntitiesDescriptor element) using
          ## the trusted Metadata Signing Certificate.
          - type: Signature
            ## A large metadata file can cause a significant increase
            ## in startup time at the SP.  This is due to the time it
            ## takes to verify the signature on the metadata, which is
            ## known to increase exponentially as the size of the
            ## metadata file increases.  To disable signature
            ## verification at startup time only, set verify_backup to
            ## False.
            # verify_backup: False
            certificate: |
              -----BEGIN CERTIFICATE-----
              MIIDgTCCAmmgAwIBAgIJAJRJzvdpkmNaMA0GCSqGSIb3DQEBCwUAMFcxCzAJBgNV
              BAYTAlVTMRUwEwYDVQQKDAxJbkNvbW1vbiBMTEMxMTAvBgNVBAMMKEluQ29tbW9u
              IEZlZGVyYXRpb24gTWV0YWRhdGEgU2lnbmluZyBLZXkwHhcNMTMxMjE2MTkzNDU1
              WhcNMzcxMjE4MTkzNDU1WjBXMQswCQYDVQQGEwJVUzEVMBMGA1UECgwMSW5Db21t
              b24gTExDMTEwLwYDVQQDDChJbkNvbW1vbiBGZWRlcmF0aW9uIE1ldGFkYXRhIFNp
              Z25pbmcgS2V5MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0Chdkrn+
              dG5Zj5L3UIw+xeWgNzm8ajw7/FyqRQ1SjD4Lfg2WCdlfjOrYGNnVZMCTfItoXTSp
              g4rXxHQsykeNiYRu2+02uMS+1pnBqWjzdPJE0od+q8EbdvE6ShimjyNn0yQfGyQK
              CNdYuc+75MIHsaIOAEtDZUST9Sd4oeU1zRjV2sGvUd+JFHveUAhRc0b+JEZfIEuq
              /LIU9qxm/+gFaawlmojZPyOWZ1JlswbrrJYYyn10qgnJvjh9gZWXKjmPxqvHKJcA
              TPhAh2gWGabWTXBJCckMe1hrHCl/vbDLCmz0/oYuoaSDzP6zE9YSA/xCplaHA0mo
              C1Vs2H5MOQGlewIDAQABo1AwTjAdBgNVHQ4EFgQU5ij9YLU5zQ6K75kPgVpyQ2N/
              lPswHwYDVR0jBBgwFoAU5ij9YLU5zQ6K75kPgVpyQ2N/lPswDAYDVR0TBAUwAwEB
              /zANBgkqhkiG9w0BAQsFAAOCAQEAaQkEx9xvaLUt0PNLvHMtxXQPedCPw5xQBd2V
              WOsWPYspRAOSNbU1VloY+xUkUKorYTogKUY1q+uh2gDIEazW0uZZaQvWPp8xdxWq
              Dh96n5US06lszEc+Lj3dqdxWkXRRqEbjhBFh/utXaeyeSOtaX65GwD5svDHnJBcl
              AGkzeRIXqxmYG+I2zMm/JYGzEnbwToyC7yF6Q8cQxOr37hEpqz+WN/x3qM2qyBLE
              CQFjmlJrvRLkSL15PCZiu+xFNFd/zx6btDun5DBlfDS9DG+SHCNH6Nq+NfP+ZQ8C
              GzP/3TaZPzMlKPDCjp0XOQfyQqFIXdwjPFTWjEusDBlm4qJAlQ==
              -----END CERTIFICATE-----
          ## Require a validUntil XML attribute on the
          ## EntitiesDescriptor element and make sure its value is no
          ## more than 14 days into the future.
          - type: RequireValidUntil
            max_validity_interval: 1209600
          ## Consume all IdP metadata in the aggregate.
          - type: EntityRoleWhiteList
            entries:
              - md:IDPSSODescriptor
              - md:AttributeAuthorityDescriptor
          ## Only trust IdPs tagged as supporting REFEDS R&S attribute
          ## release.
          - type: EntityRoleWhiteList
            matcher: EntityAttributes
            entries:            # FIXME: switch to a list of mappings
              - http://macedir.org/entity-category-support:                # attribute
                  http://id.incommon.org/category/research-and-scholarship # value
              - http://macedir.org/entity-category-support:                # attribute
                  urn:oasis:names:tc:SAML:2.0:attrname-format:uri:         # format (default shown here)
                    http://refeds.org/category/research-and-scholarship    # value
        ## Hiding an IdP from the discovery interface does NOT prevent
        ## the SP from accepting an assertion from the IdP.
        discovery_filters:      # TODO
          - type: EntityRoleWhiteList
            matcher: EntityAttributes
            entries:
              - http://macedir.org/entity-category:
                  http://refeds.org/category/hide-from-discovery

    ## TODO: manage SP keymat
    encryption_certificate: &spcert |
      -----BEGIN CERTIFICATE-----
      XoeaUnFuAXE73GlKja4LiBkXMyEe1QOMwqvQOP+dbUc7C4GVy11PFsR3srRC578l
      aXoemLSeo682V7rmZsC3FXwxDH5H9JhP42AdaMrQLKYviSzHiyHsyiacTgxxqjc1
      sQVQtbxq7vK5opjm66EUqqSnR4ZQOW6NG0uAonoAETaak1yM6ybF7kKvi4nIR0Xg
      zojBbXLAoOFfo6VZluJ2fq207DIzsK6+D9HY2VKst3xJ+k04j2H0dWAVBhm9og13
      L3vK8HRxaN+19ATrLoo1EUBEcLSOgi2O8dsaIETC+xGCbeVb2Kixd157VWodt9vR
      KBJTigpD0fDKiK4JZ4g6m2FlQDsV70TfBbsmV9AmGkTT6D+Oz0joIOBt9gcmP0oY
      88vCt7FBjBVnb/SfCHLV1WaWHiYyC6USXqeoOBhsMedmkexYABuotBFlQoOm/AFd
      FhrPh6jjlW1r0jzHmvXOoQlXRAbhK58VroTxTcqgRhMohxbyAWAjRmW648RkNWC+
      GRSS3JxgfO1QOFpp9sKApZZ0ti0fU//32dvCO1okD3rnP0qpNqgOFXCkMFzVubCv
      CEGVAIGa/5weMMeidWFcLC0HYREm3DM62vtI7fcQQwj0iXZi7/WQyUNPG+K57yPM
      k+VJRHuE/dxSubA7QyDFKS9udb9Qf2FK1puuqtr4QfY=
      -----END CERTIFICATE-----
    encryption_key: &spkey |
      -----BEGIN PRIVATE KEY-----
      ZNF17QTx4kfPEfRqI7AA4y3jJ7zXOzT1WBh7XJ8o5Tm/W+zVR5ngC7h5hLZaL4gl
      7nmtDqKWXvY695BByTaW9QB2gM+9y8z5tFNowPkQYsSRpWctjLyOiq6IeuBblJo9
      kJ03hhgdV3zJ1dhnq3p6LDiOw4HqcPkx2LzIPWKQgDGeIzzWPJnDVgD3DfcnuTVs
      zguDOFDpFdiFytQwWWoqHmn1wbrj1p0SHZoVfnDp5HSQ6WZ7kLLTySrYJ920ku8A
      DUlwy287Lwh/qO2hX80lXnqZYqPHXryPqxJK4PtERCCwCJdGRvrFi3CpAn99DhPz
      d4tFBjQu19Z0/rUELPEQuCfbCtscpJZ2q/lir5xjj44yJtiky8Go73uK8E/WslEZ
      kESPaq6LE/4MvlE5pquHkBgZA0u9VigNp+4D0RVbcWhmM5b+ZR2HRszsH+dfjA9f
      8ums30Dxf6TGrhdQLW39Be6fIz0pisVC+hARW/6RmLvQRCmgZTkSZcjQNBICkbLe
      v44pQ1XpbXGP8WpnGKKSyYTyXEV6GwFOzF5uWicUgpzpCJMk1RjXAyiybcg0o5fS
      2xsofsGmuWHyhKEarwEheFEyz1RtQ2h0uWEG3+l1Hi+rQAO1uxnEv1H3cfEu2bc6
      BkvGmo8EcpTkRvBU1aRVHhzGXp3kzR+SPV261qYYDBI=
      -----END PRIVATE KEY-----
    signing_certificate: *spcert
    signing_key: *spkey


#### Local variables:
#### mode: yaml
#### End:

#### PILLAR.EXAMPLE ends here.
