{%- macro generate_policy(mode, policy, indent=8, step=4) %}
  {%- set needs_end_tag =
    'AND' in policy or
    'OR' in policy or
    'NOT' in policy %}
{{ '<%s%s%s>'|format(
    mode,
    {
      'xsi:type':
        (policy|dictsort)[0][0] if policy is mapping else
        policy,
      'value':
        (policy|dictsort)[0][1]
          if policy is mapping
          and (policy|dictsort)[0][1] is string else
        (policy|dictsort)[0][1].value
          if policy is mapping
          and (policy|dictsort)[0][1] is mapping else
        None,
      'ignoreCase':
        (policy|dictsort)[0][1]['ignore_case']|default(None)
          if policy is mapping
          and (policy|dictsort)[0][1] is mapping else
        None,
      'attributeName':
        (policy|dictsort)[0][1].attribute_name|default(None)
          if policy is mapping
          and (policy|dictsort)[0][1] is mapping else
        None,
      'attributeValue':
        (policy|dictsort)[0][1].attribute_value|default(None)
          if policy is mapping
          and (policy|dictsort)[0][1] is mapping else
        None,
    }|xmlattr,
    '' if needs_end_tag else ' /'
  )|indent(indent, True) }}
  {#- TODO recursive call(s) to generate_policy() happen here #}
  {%- if needs_end_tag %}
{{ '</%s>'|format(mode)|indent(indent, True) }}
  {%- endif %}
{%- endmacro %}

{%- macro generate_rp_profile(profile, indent=20) %}
{%- if profile is string %}
{{ '<ref bean="%s"/>'|format(profile)|indent(indent, True) }}
{%- elif profile is mapping %}
{{ '<bean%s/>'|format(
    {
      'parent':
        profile.parent,
      'p:postAuthenticationFlows':
        profile.post_authentication_flows|join(' ')
          if 'post_authentication_flows' in profile else
        None,
      'p:encryptAssertions':
        None if 'encrypt_assertions' not in profile else
        'true' if profile.encrypt_assertions else 'false',
      'p:nameIDFormatPrecedence':
        profile.name_id_format_precedence
          if 'name_id_format_precedence' in profile else
        None,
    }|xmlattr
  )|indent(indent, True) }}
{%- endif %}
{%- endmacro %}
