{% import_yaml "shibboleth/idp/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian':  { 'packages': [ 'openjdk-8-jdk', 'bash', ], },
    'FreeBSD': { 'packages': [ 'openjdk8', 'bash', ], },
    'RedHat':  { 'packages': [ 'java-1.8.0-openjdk-devel', 'bash', ], },
  }) %}

{% do default_settings.shibboleth.idp.update(os_family_map) %}

{% set shibidp = salt['pillar.get']('shibboleth:idp',
  default=default_settings.shibboleth.idp, merge=True) %}

{#- NOTE: for backwards compatibility #}
{% set shibidp_settings = shibidp %}
