{% import_yaml "shibboleth/sp/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'FreeBSD': {
      'packages': [
        'shibboleth-sp',
      ],
      'config_directory':
        '/usr/local/etc/shibboleth',
      'services': [
        'shibboleth-sp',
      ],
    },
    'default': {},
  }) %}

{% do default_settings.shibboleth.sp.update(os_family_map) %}

{% set shibsp_settings = salt['pillar.get']('shibboleth:sp', default=default_settings.shibboleth.sp, merge=True) %}
