{%- macro xml_attribute(name, value, type='string') -%}
  {%- set attribute = None -%}
  {%- if value != None -%}
    {%- if type == 'boolean' -%}
      {%- set attribute = '%s="%s"'|format(name, "true" if value else "false") -%}
    {%- elif type == 'list' -%}
      {%- set attribute = '%s="%s"'|format(name, value|join(' ')) -%}
    {%- else -%}
      {%- set attribute = '%s="%s"'|format(name, value) -%}
    {%- endif -%}
  {%- endif -%}
  {{ caller(attribute) }}
{%- endmacro -%}
