{% import_yaml "shibboleth/mda/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian':  { 'packages': [ 'openjdk-8-jdk', 'bash', 'moreutils', ], },
    'FreeBSD': { 'packages': [ 'openjdk8', 'bash', 'moreutils', ], },
    'RedHat':  { 'packages': [ 'java-1.8.0-openjdk-devel', 'bash', 'moreutils', ], },
  }) %}

{% do default_settings.shibboleth.mda.update(os_family_map) %}

{% set shibmda = salt['pillar.get']('shibboleth:mda',
  default=default_settings.shibboleth.mda, merge=True) %}

{#- NOTE: for backwards compatibility #}
{% set shibmda_settings = shibmda %}
