{% import_yaml "xmlsectool/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian':  { 'packages': [ 'openjdk-8-jdk', 'bash', ], },
    'FreeBSD': { 'packages': [ 'openjdk8', 'bash', ], },
    'RedHat':  { 'packages': [ 'java-1.8.0-openjdk-devel', 'bash', ], },
  }) %}

{% do default_settings.xmlsectool.update(os_family_map) %}

{% set xmlsectool = salt['pillar.get']('xmlsectool',
  default=default_settings.xmlsectool, merge=True) %}

{#- NOTE: for backwards compatibility #}
{% set xmlsectool_settings = xmlsectool %}
